* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.purchase-container {
   background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    text-align: center;
    color: white;
}
.purchase-container ul li {
    list-style: nome;
}